---
interface Props {
  text: string;
  header: string;
  price: string;
  imageURL: string;
}
const { text = "",header="", price="", imageURL = "" } = Astro.props;
const imageStyle = {
  backgroundImage: `url(/images/${imageURL})`,
};
---

<div
  class="pb-20 pt-8 bg-cover m-8 bg-gray-700 bg-blend-multiply"
  style={imageStyle}
>
  <h2 class="text-white uppercase text-6xl ">{header}</h2>
    <div class="pt-24 text-white text-xl  ">
      <h2 >{text}</h2>
    </div>
    <div class="pt-24 pb-2 text-white text-3xl">
      <h2 >{price}</h2>
    </div>
  </div>